doctype
html
    head
        title Peterson Lab
        base(href="/")
        link(href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet")
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
    body(ng-app='app' ng-keypress="onSpace($event)" ng-cloak)
        //h1 Layout
        block main-content
        include scripts