script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
//script(type="text/javascript", src="/vendor/angular/angular.js")

script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js")
script(type="text/javascript", src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.1.js")
link(href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet")

script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/vendor/angular-sanitize/angular-sanitize.min.js")
script(type="text/javascript", src="vendor/videogular/videogular.js")
script(type="text/javascript", src="vendor/videogular-controls/vg-controls.js")
script(type="text/javascript", src="/vendor/webcam-directive/app/scripts/webcam-original.js")
//script(type="text/javascript", src="/vendor/angular-bootstrap/ui-bootstrap.min.js")
script(type="text/javascript", src="/vendor/re-tree/re-tree.min.js")
script(type="text/javascript", src="/vendor/ng-device-detector/ng-device-detector.min.js")
script(type="text/javascript", src="app/app.js")
script(type="text/javascript", src="app/userMedia.module.js")
script(type="text/javascript", src="app/recorderWrapper.module.js")
script(type="text/javascript", src="app/recorder.module.js")
script(type="text/javascript", src="app/session/browserDetection/browserDetectionCtrl.js")
script(type="text/javascript", src="app/session/ssMainCtrl.js")
script(type="text/javascript", src="app/session/sessionAuthSvc.js")
script(type="text/javascript", src="app/session/stimulusCtrl.js")
script(type="text/javascript", src="app/session/welcome/snapshotCtrl.js")
script(type="text/javascript", src="app/session/welcome/liveStreamCtrl.js")
script(type="text/javascript", src="app/session/welcome/liveStreamDir.js")
script(type="text/javascript", src="app/session/welcome/audioStreamCtrl.js")
script(type="text/javascript", src="app/session/youTubeEmbed/youTubeDir.js")
script(type="text/javascript", src="app/session/youTubeEmbed/youTubeCst.js")
script(type="text/javascript", src="app/session/youTubeEmbed/youTubeCtrl.js")
script(type="text/javascript", src="app/session/youTubeEmbed/youTubeSvc.js")
script(type="text/javascript", src="app/session/permissions/permissionsDir.js")
script(type="text/javascript", src="app/admin/adMainCtrl.js")
script(type="text/javascript", src="app/admin/instructionsCtrl.js")
script(type="text/javascript", src="js/canvas-to-blob.min.js")
script(type="text/javascript", src="app/session/welcome/micLevelsDir.js")