/*body
  padding-top 61px

.navbar-header a.navbar-brand
  margin-top -15px
  margin-bottom -20px
  h6
    color #cccccc

footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d7e0e2
    */

.partId
  margin-top 50px

.parent
  display flex
  flex-direction column
  justify-content center

.center-y
  position absolute
  top 50%
  transform translateY(-50%)

.calibration-height
  height 250px

.centred
  position fixed
  top 50%
  left 50%
  transform translate(-50%, -50%)

#analyser
  height 100px
  width 20px
  border 2px solid black

#webcam-live
  height 150px

.videoTest
  float left

.audioTest
  float left