/*body
  padding-top 61px

.navbar-header a.navbar-brand
  margin-top -15px
  margin-bottom -20px
  h6
    color #cccccc

footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d7e0e2
    */

.pid
  margin-top 30px
  margin-bottom 20px

.parent
  display flex
  flex-direction column
  justify-content center

.center-y
  position absolute
  top 50%
  transform translateY(-50%)

.calibration-height
  height 250px

.calibrator
  border-color red

.calibrator .panel-heading
  background-color rgba(202, 51, 79, 0.42)

.calibrator.calibration-success
  border-color green

.calibration-height.calibration-success
  height auto;

.calibration-success .panel-body
  display none

.calibrator.calibration-success .panel-heading
  background-color rgba(0, 128, 0, 0.22)

.calibrator.speaker-calibrator input
  width: 80%

.centred
  position fixed
  top 50%
  left 50%
  transform translate(-50%, -50%)

#analyser
  width: 20%
  height 100px
  border 2px solid black
  margin-top 30px

#webcam-live
  height 150px

.videoTest
  float left

.audioTest
  float left

.info-message
  margin-bottom 30px

label input
  margin-left 5px