div(class="text-center")
    p You stopped the video at {{sessionData.stopTime}}
    h2 Please wait while your data uploads and you are redirected...
    h2 This may take a minute
    img(src="/images/loading_spinner.gif")