div(class="text-center" ng-controller="youTubeCtrl as ytCtrl" style="pointer-events: none")
    youtube(width="{{ytCtrl.width}}" height="{{ytCtrl.height}}" videoid="{{ytCtrl.videoid}}")
canvas(id='snapshot' hidden)