extends includes/layout
block main-content
    section.content
    div(ng-controller='mvAdminCtrl as admin')
        h1 Welcome to the admin page
        div(ng-show='!authentication.access_token')
            h3(ng-show='authentication.attempts > 0') Incorrect username or password
            form(name='admin.authForm')
                label Username:
                    input(type='text' name='input' ng-model='authentication.username' required)
                label Password:
                    input(type='password' name='input' ng-model='authentication.password' required)
                button(ng-click='submitCredentials()') submit
        div(ng-show='authentication.access_token')
            div
                script(type="text/ng-template" id="instructionsDialog.html")
                    div(class="modal-body")
                        h3 Input study instructions here:
                        textarea(type='text' ng-model='response.instructions')
                    div(class="dialog-footer")
                        button(ng-click="submitInstructions()") Submit
                        button(ng-click="cancel()") Cancel
            h2 Manage Studies
            table(class='table table-bordered')
                thead
                    tr
                        th Study ID
                        th Study Key
                        th YouTube ID
                        th Instructions
                        th Post-Survey URL
                tbody
                    tr(ng-repeat="study in studies")
                        td {{ study.sid }}
                        td {{ study.key }}
                        td {{ study.youTubeId }}
                        td
                            button(ng-click='openDialog(study.instructions)') View Instructions
                        td {{ study.redirect }}
                        td
                            button(ng-click='deleteStudy(study)') Delete
                    tr
                        td
                            input(type='text' name='sid' ng-model='newStudy.sid')
                        td
                            i Generated on "Add"...
                        td
                            input(type='text' name='youTubeId' ng-model='newStudy.youTubeId')
                        td
                            button(ng-click='openDialog(newStudy.instructions)') Edit Instructions
                        td
                            input(type='text' name='redirect' ng-model='newStudy.redirect')
                        td
                            button(ng-click='postNewStudy()') Add
            h2 Share AV Data
            table(class='table table-bordered')
                thead
                    tr
                        th Name
                        th Gmail
                        th Permission
                        th
                tbody
                    tr(ng-repeat="share in shares")
                        td {{ share.name }}
                        td {{ share.email }}
                        td {{ share.permission }}
                        td
                            button(ng-click="unshareAvData(share)") Remove
                    tr
                        td
                            input(type='text' name='userName' ng-model='newShare.name')
                        td
                            input(type='text' name='email' ng-model='newShare.email')
                        td
                            select(ng-model='newShare.permission')
                                option reader
                                option writer
                                option owner
                        td
                            button(ng-click='shareAvData()') Add
