extends includes/layout
block main-content
    section.content
    div(ng-controller='mvAdminCtrl as admin')
        h1 Welcome to the admin page
        div(ng-show='!authentication.access_token')
            h3(ng-show='authentication.attempts > 0') Incorrect username or password
            form(name='admin.authForm')
                label Username:
                    input(type='text' name='input' ng-model='authentication.username' required)
                label Password:
                    input(type='text' name='input' ng-model='authentication.password' required)
                button(ng-click='submitCredentials()') submit
        div(ng-show='authentication.access_token')
            h2 Manage Studies
            table(class='table table-bordered')
                thead
                    tr
                        th Active
                        th Study ID
                        th PartId Min
                        th PartId Max
                        th Stimulus
                tbody
                    tr(ng-repeat="study in studies")
                        td
                            input(type='checkbox' name='active' ng-model='study.active')
                        td {{ study.studyId }}
                        td {{ study.partIdMin }}
                        td {{ study.partIdMax }}
                        td {{ study.stimulusTitle }}
                        td
                            button(ng-click='deleteStudy(study)') Delete
                    tr
                        td
                            input(type='checkbox' name='active' ng-model='newStudy.active')
                        td
                            input(type='text' name='studyId' ng-model='newStudy.studyId')
                        td
                            input(type='number' name='partIdMin' ng-model='newStudy.partIdMin')
                        td
                            input(type='number' name='partIdMax' ng-model='newStudy.partIdMax')
                        td
                            select(ng-model='newStudy.stimulusTitle')
                                option(ng-repeat="stimulus in stimuli") {{ stimulus.Key }}
                        td
                            button(ng-click='postNewStudy()') Add
            h2 Share AV Data
            table(class='table table-bordered')
                thead
                    tr
                        th Name
                        th Gmail
                        th Permission
                        th
                tbody
                    tr(ng-repeat="share in shares")
                        td {{ share.name }}
                        td {{ share.email }}
                        td {{ share.permission }}
                        td
                            button(ng-click="unshareAvData(share)") Remove
                    tr
                        td
                            input(type='text' name='userName' ng-model='newShare.name')
                        td
                            input(type='text' name='email' ng-model='newShare.email')
                        td
                            select(ng-model='newShare.permission')
                                option reader
                                option writer
                                option owner
                        td
                            button(ng-click='shareAvData()') Add
            h2 Backup Session Data to CSV file on the Google Drive
                button(ng-click='csvBackup()') Do it!