extends ./includes/layout

block main-content
    section.content
    div(class="container-fluid pid")
        div(ng-controller="ssMainCtrl as session" ng-cloak)
            div(ng-controller="videoStreamCtrl as video")
                webcam(on-streaming="onSuccess()" on-access-denied="onError(err)" on-stream="onStream(stream)" channel="videoChannel" hidden)
            div(ng-switch on="session.phase" class="center-block")
                div(ng-switch-when="browser-detect")
                    include blocks/browser-detection
                div(ng-switch-when="invalid-url")
                    h3(class="text-center") Sorry, the link that you used is no longer valid
                div(ng-switch-when="permissions")
                    permissions
                div(ng-switch-when="welcome")
                    include blocks/welcome/main
                div(ng-switch-when="briefing" class="row-fluid")
                    div(class="alert alert-info col-md-6 col-md-offset-3 text-center")
                        h3 {{session.instructions}}
                    div(class="col-md-6 col-md-offset-3 text-center")
                        h2 Press space bar to start the video...
                div(ng-switch-when="stimulus")
                    include blocks/stimulus.jade
                div( class="parent" ng-switch-when="debrief")
                    include blocks/debrief.jade
                div(class="parent" ng-switch-when="thankyou")
                    div(class="text-center")
                        h1 Thank you for your participation!
                        h6 (Press any key to restart demo)
                div(class="parent" ng-switch-when="authFail")
                    p You have entered an invalid participant number.
                    button(ng-click="session.phase='welcome'") Go Back