extends ./includes/layout

block main-content
    section.content
    div(class="container-fluid partId")
        div(ng-controller="ssMainCtrl as session" class="col-xs-10 col-xs-offset-1" ng-cloak)
            div(ng-controller="videoStreamCtrl")
                webcam(on-streaming="onSuccess()" on-access-denied="onError(err)" on-stream="onStream(stream)" channel="channel" hidden)
            div(ng-controller="audioStreamCtrl" ng-switch on="phase")
                div(ng-switch-when="permissions")
                    p Please allow access to your camera and microphone to continue. Refresh the page if there is no permissions prompt.
                div(ng-switch-when="welcome")
                    include blocks/welcome/main
                div(ng-switch-when="stimulus")
                    include blocks/stimulus.jade
                div( class="parent" ng-switch-when="debrief")
                    include blocks/debrief.jade
                div(class="parent" ng-switch-when="thankyou")
                    div(class="text-center")
                        h1 Thank you for your participation!
                        h6 (Press any key to restart demo)