div(class="row-fluid")
    p In order to make sure that you are not in a distracting environment, we would like to collect audio and video data during this task. This data will be stored on a secure server, separately from your provided information, and separately from any identifying information. This data will only be accessible by researchers affiliated with this project.
    p Please enable your browser to access your webcam and microphone and follow the instructions below before proceeding.
div(class="row-fluid")
    include participant
div(class="row-fluid")
    include webcam
    include microphone
    include speakers
div(class="row-fluid")
    h2(class="text-center" ng-show="!ctrl.idForm.input.$error.required && validation.webcam && validation.microphone && validation.speakerTestInput == 'welcome'") Press space bar to begin...