div(ng-controller="audioStreamCtrl" class="col-xs-4 row-fluid calibration-height parent" ng-style='borders.microphone')
    div(class="text-center")
        div(class="col-xs-3")
            canvas(id='analyser')
        div(class="col-xs-9 text-center")
            p(ng-hide="validation.microphone") Increase your microphone volume and tap the microphone until the meter fills up
            h4(ng-show="validation.microphone") Microphone calibration complete