div(class="col-xs-6 col-lg-4 parent")
    div(class="panel panel-default calibrator speaker-calibrator calibration-height text-center" ng-class='{"calibration-success":validation.speakerTestInput==\'welcome\'}')
        div(ng-show="validation.speakerTestInput == 'welcome'" class="panel-heading") Headphone calibration complete
        div(class="panel-body v-aligned")
            div(class="v-aligned-content" ng-hide="validation.speakerTestInput == 'welcome'")
                    p Enter the word from
                    button(ng-click='playTestSound()') this audio clip
                    br
                    p in the space below
                    br
                    audio(id='audioTest')
                        source(src="/video/welcome.mp3" type="audio/mpeg")
                    label Input test word:
                        input(type="text" name='speakerTestInput' ng-model='validation.speakerTestInput' required)
