div(ng-controller='liveStreamCtrl' class="col-xs-12 col-md-6 col-md-offset-3 parent")
  div(class="panel panel-default calibrator calibration-height" ng-class='{"calibration-success":validation.webcam==true}')
    div(class="text-center")
      div(class="panel-heading")
        span(ng-hide="validation.webcam") Center the camera on your face
        span(ng-show="validation.webcam") Webcam calibration complete
      div(class="panel-body")
        h4(ng-if="session.phase=='oops'") Oops!
        live-stream(ng-if="session.phase=='welcome'")
            img(src="/images/liveFeedPlaceholder.gif" title="Please refresh the page and allow microphone and webcam access to continue")
        div(class="row-fluid")
            div(class="text-center")
                button(ng-click="validation.webcam = true" ng-hide="validation.webcam") Done